header {
    text-align: center;
    padding: 30px 0;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 50%;
    font-weight: 500;
    line-height: 10%;
    margin: auto;
    max-width: 60%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
    margin: 0 auto;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav-links li a:hover {
    color: #007BFF;
}

.navbar-image {
    max-width: 100px;
    height: auto;
}