h1 {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 250%;
  font-weight: 500;
  text-align: center;
  margin : 0;
  padding-bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
}

h2 {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 150%;
  font-weight: 500;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

h2.notes {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 225%;
  font-weight: 500;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

h2.resume {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  font-weight: 550;
  text-align: left;
  padding-left: 5%;
  padding-top: 1px;
  padding-bottom: 1px;
}

h3 {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 85%;
  font-weight: 500;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

h3.resume {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 150%;
  font-weight: 500;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
}

h3.notes {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 175%;
  font-weight: 500;
  text-align: center;
  margin: auto;
  padding-top: 2%;
}

p {
background-color: white;
color: #000000;
font-family: 'Red Hat Text', sans-serif;
font-size: 100%;
font-weight: 500;
text-align: center;
width: 60%;
margin: auto;
}

p.resume { 
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  font-weight: 500;
  text-align: left;
  width: 60%;
  padding-top: 2%;
}

p.notes {
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  margin: auto;
  }

ul {
  list-style-position: inside;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li.header {
  padding-left: 5%;
  padding-right: 5%;
}

hr {
  width: 90%;
}

code-text {
    background-color: white;
    color: #000000;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    width: 60%;
    margin: auto;
}

code {
  color: #000000;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  width: 50%;
  margin: auto;
}
  
.container {
  display: flex;
  justify-content: center;
}

.child {
  margin: 0 auto;
}

.float-container {
padding: 10px;
width: 65%;
margin: auto;
}

.float-child-primary {
width: 80%;
float: right;
margin-top: 10px;
}  

.float-child-secondary {
width: 20%;
float: left;
margin-top: 10px;
}

.note-container {
  padding: 10px;
  width: 60%;
  margin: auto;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.center-image-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

.center-image-medium {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.center-image-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.center-image-xlarge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

table td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  text-align: center; 
  vertical-align: middle;
}

/* Style the header with a green background and some padding */
div.header {
display: inline-block;
overflow: hidden;
background-color: #1ADB7E;
padding: 20px 10px;
width: 100%;
}

/* Style the header links */
div.header a {
display: inline-flex;
padding: 5px;
color: black;
font-family: 'Red Hat Text', sans-serif;
font-size: 100%;
font-weight: 500;
line-height: 10%;
}

/* Change the background color on mouse-over */
div.header a:hover {
color: #FFFFFF;
}

/* Float the link section to the right */
div.header-right {
float: right;
}

footer {
width: 100%;
display: inline-block;
margin: 2em 0;
height: 70px;
background-color: #1ADB7E;
}
footer .copyright {
width: 50%;
float: left;
}

footer .copyright p {
padding-left: 10%;
background-color: #1ADB7E;
color: #000000;
font-size: 0.7em;
line-height: 70px;
text-transform: capitalize;
letter-spacing: 1px;
}

footer .social {
width: 50%;
float: right;
}

footer .social a {
float: left;
line-height: 70px;
text-decoration: none;
color: white;
text-align: center;
font-weight: bold;
-moz-transition: all, 0.3s;
-o-transition: all, 0.3s;
-webkit-transition: all, 0.3s;
transition: all, 0.3s;
}

footer .social a:hover {
background-color:#999;
-moz-transition: all, 0.3s;
-o-transition: all, 0.3s;
-webkit-transition: all, 0.3s;
transition: all, 0.3s;
}

a.linked {
background-color: #1e83ae;
font-size: 1.2em;
width: 20%;
}

a.git {
background-color: #FFFFFF;
font-size: 0.3em;
width: 20%;
}

a.tweet {
background-color: #3dacdd;
font-size: 1.2em;
width: 20%;
}

a.contact {
background-color: #abafad;
font-size: 0.8em;
width: 20%;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
  .header a {
    float: none;
    padding: 1px;
    display:inline;
    text-align: center;
    background-color: #1ADB7E;
  }

  .header-right {
    float: right;
    text-align: right;
  }

  .float-container {
    padding: 10px;
    width: 98%;
    margin: auto;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  .center-image-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
  }
  
  .center-image-medium {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  .center-image-large {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  .center-image-xlarge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  p.resume { 
    background-color: white;
    color: #000000;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 100%;
    font-weight: 500;
    text-align: left;
    width: 80%;
    padding-top: 2%;
  }

  p.notes {
    background-color: white;
    color: #000000;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin: auto;
    }

  .float-container {
    padding: 10px;
    width: 95%;
    margin: auto;
    font-size: 80%;
    }

  code {
    color: #000000;
    font-size: 80%;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 5px;
    width: 95%;
    margin: auto;
  }

  footer .copyright {
    width: 90%;
  }
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
  footer .social {
    width: 100%;
  }
  }