/* Common styles for headings */
h1,
h2,
h3,
h4 {
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 250%;
  font-weight: 500;
}

h1.nav {
  padding-left: 15%;
  padding-right: 15%;
}

h1.resume {
  font-size: 2.5em;
}

h2 {
  font-size: 150%;
  font-weight: 500;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

h2.recent {
  font-weight: 700;
}

h2.contact {
  font-weight: 700;
  color: white
}

h2.notes {
  font-size: 225%;
  padding-top: 1px;
  padding-bottom: 1px;
}

h2.resume {
  font-size: 100%;
  font-weight: 550;
  text-align: left;
  padding-left: 5%;
  padding-top: 1px;
  padding-bottom: 1px;
}

h3 {
  font-size: 85%;
  font-weight: 500;
  padding-left: 15%;
  padding-right: 15%;
}

h3.notes {
  font-size: 175%;
  padding-top: 10px;
  padding-bottom: 1px;
}

h3.resume {
  font-size: 150%;
}

h3.notes {
  font-size: 175%;
}

h4 {
  font-size: 100%;
  font-weight: 500;
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%;
}

h5 {
  font-size: 100%;
  font-weight: 700
}

/* Common styles for paragraphs */
p {
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
}

p.resume {
  font-size: 100%;
  font-weight: 500;
  text-align: left;
  width: 60%;
  padding-top: 2%;
}

p.notes,
p.projects {
  font-size: 1.1em;
  font-weight: 300;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  margin: auto;
}

p.projects {
  text-align: center;
  width: 100%;
  font-weight: 100;
}

p.recent {
  font-size: 90%;
  font-weight: 75%;
  background-color: rgba(255, 255, 255, 0.65);
  text-align: center;
  margin: auto;
  font-weight: 300;
}

/* Common styles for lists */
ul,
ol {
  list-style-position: inside;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.resume {
  list-style-position: inside;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  padding-bottom: 5px;
  margin: auto;
  list-style-type: none;
}

ol {
  list-style-position: inside;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

li.header {
  padding-left: 5%;
  padding-right: 5%;
}

li.child {
  list-style-type: "-";
}

/* Common styles for code elements */
code-text,
code {
  display: inline-block;
  white-space: pre-wrap;
  background-color: white;
  color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 100%;
  font-weight: 500;
  width: 50%;
  margin: auto;
}

/* Common styles for containers */
.main-container,
.note-container,
.equation-container,
.project-container,
.float-container,
.note-right-half,
.note-left-half {
  padding: 10px;
  width: 60%;
  margin: auto;
}

.float-child-primary {
  width: 80%;
  float: right;
  margin-top: 10px;
}

.float-child-secondary {
  width: 20%;
  float: left;
  margin-top: 10px;
}

.float-resume-right {
  width: 67%;
  float: right;
  margin-top: 10px;
}

.float-resume-left {
  width: 33%;
  float: left;
  margin-top: 10px;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
  background-color: white;
  padding: 1em 0;
  /* Add some padding for spacing */
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  /* Add spacing between icon and text */
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 10px;
  color: black !important;
  /* Set the text color to black */
  text-decoration: none;
  /* Remove the default underline from links */
}

/* Media Query for mobile devices */
@media screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    /* Stack items vertically on mobile */
    align-items: center;
    /* Center items horizontally on mobile */
  }
}