/* Common styles for all tables and table cells */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}

table.small {
    width: 10%;
    margin: 0 auto;
}

table.medium {
    text-align: center;
    margin: 0 auto;
    padding-left: 3px;
    padding-right: 3px;
}

table.princeton-notes {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

td.note-topic {
    padding-left: 1em;
    padding-right: 1em;
}

th.note-topic {
    width: 30%;
    text-align: center;
}

th.note-content {
    width: 70%;
    text-align: center;
}

li.note-bullet {
    flex-grow: 1;
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 3em;
    padding-right: 1em;
}