{% extends 'base.html' %}

{% block body %}

<div>
    <p class="notes">
        Technically adept with supervisory experience in project management, program execution, and personnel and
        resource allocation. Consistently ranked as a top performer. Leverages strong communication skills and analytic
        aptitude to provide valuable solutions for process improvement, planning, and risk reduction.
    </p>
</div>
<div class="float-container">
    <ul>
        <li>
            Email: <a href="mailto:tmwilema@gmail.com">tmwilema@gmail.com</a>
        </li>
        <li>
            GitHub: <a href="https://github.com/tmwileman">tmwileman</a>
        </li>
        <li>
            Twitter: <a href="https://twitter.com/T_Wileman">@T_Wileman</a>
        </li>
    </ul>
</div>
<div class="float-container">
    <div class="float-resume-right">
        <h1 class="resume">
            Experience
        </h1>
        <hr>
        <ul>
            <li>
                <strong>Senior Data Scientist</strong>, <a href="https://www.redhat.com/en">Red Hat</a>,
                January 2021 - Present
            </li>
            <li>
                <strong>Business Data Science</strong>, <a href="https://www.redhat.com/en">Red Hat</a>, September
                2020 - December 2021
                <ul>
                    <li class="child">
                        Researched and developed Markov chain and Q-learning models designed to improve customer experience.
                    </li>
                    <li class="child">
                        Conducted a statistical analysis that identified a link between a customer experience metric and percent change in revenue.
                    </li>
                    <li class="child">
                        Identified offensive sales opportunities targeting customers using competitor software. This effort aided deals with 25 customers resulting in <span>&#36;</span>13.8M ARR.
                    </li>
                    <li class="child">
                        Designed and evaluated A/B tests to optimize customer outreach surveys.
                    </li>
                </ul>
            <li>
                <strong>Intelligence Specialist</strong>, <a href="https://www.oni.navy.mil/">Office of Naval Intelligence</a>,
                July 2017 - July 2018
                <ul>
                    <li class="child">
                        Collaboratively partnered with cross-functional teams in development and publication of a
                        new data driven visual intelligence product providing key findings and actionable insights.
                    </li>
                    <li class="child">
                        Designed and championed innovative ad hoc and long-term analysis methodology designed to communicate key results of foreign countries’ naval tactics research to executives and colleagues.
                    </li>
                    <li class="child">
                        Developed rigorous, yet user-friendly system for quality control when creating and reviewing analytic products, resulting in valuable insights while preventing leaks of classified information.
                    </li>
                </ul>
            <li>
                <strong>Intelligence Team Lead</strong>, <a href="https://www.oni.navy.mil/">Office of Naval Intelligence</a>,
                January 2015 - June 2017
                <ul>
                    <li class="child">
                        Led four peer officers in the analysis and effective communication of complex intelligence
                        topics to policy makers and military leaders at the highest level through executive briefings and published written products. Recommended for early promotion and command at sea.
                    </li>
                    <li class="child">
                        Collaborated on three multi-agency intelligence efforts to provide international partners
                        with timely and impactful data driven analysis on country specific naval patterns.
                    </li>
                    <li class="child">
                        Implemented process controls and data capture procedures to aid the onboarding of 170 newly
                        arrived employees; improving new employee experience and talent life cycle.
                    </li>
                    <li class="child">
                        Collaborated on three multi-agency intelligence efforts to provide foreign partners with
                        timely and relevant analysis on country specific naval patterns.
                    </li>
                </ul>
            <li><strong>Platoon Officer</strong>, Coastal Riverine Squadron Four</a>, May 2013 - December 2014
                <ul>
                    <li class="child">
                        Managed 40 personnel in the employment and maintenance of six combat patrol craft and
                        associated communications equipment. Ranked #1 of 8 junior officers by Commanding Officer.
                    </li>
                    <li class="child">
                        Oversaw the planning and execution of a month-long Riverine Final Exercise for 87 Sailors.
                        Coordinated the logistics and led the round-trip movement of 40 vehicles, 6 small craft, 250 weapons and ammunition between VA and KY. The unit earned scores of 100% for Land Warfare and 95% for Riverine Warfare.
                    </li>
                    <li class="child">
                        Successfully planned and executed the first long-range transit of two 34ft Navy Patrol Boats from Norfolk, VA to Cherry Point, NC via the Intercoastal Waterway.
                    </li>
                </ul>
            <li>
                <strong>Division Officer</strong>, <a href="https://www.surflant.usff.navy.mil/ddg84/">USS BULKELEY DDG-84</a>, January 2011 - May 2013
                <ul>
                    <li class="child">
                        Planned and oversaw the operation of <span>&#36;</span>5M of weapons and associated systems as well as over 2,000 qualifications for 260 Shipmates in support of the ship’s self defense readiness. Also led 19 Sailors in the maintenance and operation of all shipboard damage control systems during a six month deployment to the Persian Gulf. Ranked #1 watch officer.
                    </li>
                    <li class="child">
                        As Force Protection Officer, led ship to receive a 94% score on a pre-deployment
                        certification. The certification included a 20 event security exercise, verification of administrative requirements, and knowledge assessments.
                    </li>
                    <li class="child">
                        Optimized limited training time by creating and maintaining an innovative database that
                        tracked crew certifications, identified upcoming qualification expirations, and provided efficient
                        training plans.
                    </li>
                    <li class="child">
                        As Engineering Officer of the Watch, supervised the operation of four Gas Turbine Engines,
                        three Gas Turbine Generators and all Auxiliary Equipment. An uncommon achievement for an Ensign.
                    </li>
                </ul>
        </ul>
        <hr>
        <h1 class="resume">
            Projects
        </h1>
        <ul>
            <li>
                <a href="/asd_predictor" target="_blank" rel="noopener noreferrer">ASD PREDICTOR:</a> A machine learning approach to help with autism diagnosis using Machine Learning. It was done as part of a job interview and used data provided by <a href="https://www.kaggle.com/faizunnabi/autism-screening">Fadi Fayez Thabtah's Kaggle competition</a>.
            </li>
            <li>
                <a href="https://github.com/tmwileman/windandpower">WIND TO POWER:</a> This project won the 2019 Duke MQM Summer Data Competition to engineer a reliable data set that could be used for follow on analysis. I scraped, cleaned, and engineered features for two years of energy generation data from the ERCOT website and weather data from NOAA. The intention of this data set is to answer the question, "What effect does a 1MW load increase/decreasse change the price that MW can be sold for?"</a>
            </li>
        </ul>
    </div>
    <div class="float-resume-left">
        <h1 class="resume">
            Languages
        </h1>
        <hr>
        <ul class="resume">
            <li>
                python
            </li>
            <li>
                R
            </li>
            <li>
                git
            </li>
            <li>
                HTML5
            </li>
            <li>
                css
            </li>
            <li>
                Javascript
            </li>
            <li>
                yaml
            </li>
        </ul>
        <h1 class="resume">
            Tools
        </h1>
        <hr>
        <ul class="resume">
            <li>
                VScode
            </li>
            <li>
                Jupyter
            </li>
            <li>
                Apache Airflow
            </li>
            <li>
                Domino Data Labs
            </li>
            <li>
                GitHub
            </li>
            <li>
                GitLab
            </li>
            <li>
                Docker
            </li>
            <li>
                Red Hat OpenShift
            </li>
        </ul>
        <h1 class="resume" style="padding-top: 10px;">
            Education
        </h1>
        <hr>
        <ul class="resume">
            <li>
                <strong>M.S., Quantitative Management</strong><br> Duke University<br>The Fuqua School of Business<br>
                2019
            </li>
            <li>
                <strong>M.A., Defense &#38 Strategic Studies</strong><br>Naval War College<br>2017
            </li>
            <li>
                <strong>B.S., Polymer Chemistry</strong><br>North Carolina State University<br>2009
            </li>
        </ul>
    </div>
</div>
{% endblock %}