{% extends 'base.html' %}

{% block body %}
<section class="note-header">
    <div class="note-title">
        <h1 class="page-title ft">AI vs ML vs Deep Learning</h1>
    </div>
    <div class="note-image-box">
        <img class="note-image" src="../static/ai_ml_dl.svg">
    </div>
</section>

<p class="notes">Keeping track of the differences between Artifical Intelligence (AI), Machine Learning (ML), and Deep Learning (DL) can be confusing. However, there are two fundamental ideas that help me differentiate these concepts. First, it's important to remember that these concepts are nested. For example, all DL is ML but not all ML is DL. Similarly, all ML is AI but not all AI is ML. Second, the understanding that ML is simply an AI technique and that DL is an ML technique.</p>
<div class="float-container">
    <table>
        <tbody>
            <tr>
                <td>
                    <p style="font-weight: bold; text-align: center;">
                        Artifical Intelligence
                    </p>
                </td>
                <td>
                    <p style="font-weight: bold; text-align: center;">
                        Machine Learning
                    </p>
                </td>
                <td>
                    <p style="font-weight: bold; text-align: center;">
                        Deep Learning
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="notes">AI simply means that a machine can complete tasks using human intelligence. This intelligence can be as simple as performing rule based tasks or as complex as landing a rover on Mars.</p>
                </td>
                <td>
                    <p class="notes">ML is a subset of AI. Specifically, it is the part of the AI spectrum in which computer systems are programmed the ability to "learn". Teaching a computer system to learn requires lots of data. However, given enough data, a ML algorithm will discern patterns that enable accurate predictions.</p>
                </td>
                <td>
                    <p class="notes">DL is the subset of ML in which an algorithm inspired by information processing patterns found in the human brain are used to make predictions. A DL alrogithm, also known as an Arifical Neural Network (ANN), is made up of layers of nodes. Information is </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="notes">
    Artificial Intelligence
</h3>
<p class="notes">
    The term "Artificial Intelligence" was first used by <a href="https://en.wikipedia.org/wiki/John_McCarthy_(computer_scientist)">John McCarthy</a> in 1956 at a Dartmouth workshop. Soon after, research conducted by Allen Newell, Herbert Simon, John McCarthy, Marvin Minsky, and Arthur Samuel resulted in computer programs that solved algebraic word problems and learned checkers strategies. These early successes led researchers to believe that, the problem of creating AI would be mostly solved within a generation. However, unforseen difficulties caused progress to slow and the lack of tangible results led to decreased funding.
</p>
<p class="notes">
    The 1980's saw a resurgence in AI research due to three factors. First, <a href="https://en.wikipedia.org/wiki/Fifth_generation_computer">Japan's fifth generation computer project</a>, an initiative to create computers using massively parallel computing and logic programing, spured renewed interest in America and Great Britian. Second, the development of complementary metal-oxide-semiconductor (CMOS) transistor technology enabled development of artificial neural network (ANN) technology. Finally, increasing computational power enabled AI for data mining and logistic uses.
</p>
<p class="notes">
    These developments have resulted in significant progress. Deep Blue, a chess-playing computer system, beat the reigning world chess champion in 1997. Watson, IBM's question answering system, defeated to Jeopardy champions in 2011. In 2020, the natural language processing system GPT-3 matched human performance and DeepMind's AlphaFold 2 was able to determin the 3D structure of a protein in hours rather than months.
</p>
<p class="notes">
    AI is broadly defined as, "a system's ability to correctly interpret external data, to learn from such data, and to use those learnings to achieve specific goals and tasks through flexible adaption." It's important to remember that the use of algorithms capable of learning hueristics about the input data is a major component of AI but not a requirement. That the goals can be as simple as following rule based logic. For instance, what actions the system should take when playing tic-tac-toe.
</p>
<p class="notes">
    However, the overall goal of creating technology that enables computers to function intelligently requires the development and use of more complex algorithms that correlated data to its computed counterpart (functional models) or mimic intelligence operations of the human brain (structural models).
</p>

<h3 class="notes">
    Machine Learning
</h3>
<p class="notes">
    ML, a component of AI, is the study of algorithms that improve automatically via experience and data. ML algorithms use sample data (also known as training data) to build models that predict an outcome. ML algorithms have been used to filter spam emails from your inbox and recommend movies on Netflix.
</p>
<p class="notes">
    ML has two objectives. First, classify data based on models that have been developed. Second, make predictions for future outcomes based on these models. Models that can accomplish these objectives are broken down into three categories based on the "signal" or "feedback" available to the algorithm.
</p>

<div class="float-container">
    <table>
        <tbody>
            <tr>
                <td>
                    <p style="font-weight: bold; text-align: center;">
                        Supervised Learning
                    </p>
                </td>
                <td>
                    <p style="font-weight: bold; text-align: center;">
                        Unsupervised Learning
                    </p>
                </td>
                <td>
                    <p style="font-weight: bold; text-align: center;">
                        Reinforcement Learning
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="notes">The algorithm is given both example inputs and desired outputs. The goal of the system is to learn what inputs map to what outputs. These results are then used to predict the outcome of future inputs. Common supervised learning algorithms include regression and classification.</p>
                </td>
                <td>
                    <p class="notes">The algorithm is given example inputs but not desired outputs. The goal of the system is to find structure (undiscovered patterns) in the data. This is typically done by grouping like points and inferring commonalities between the groups.</p>
                </td>
                <td>
                    <p class="notes">The computer is directed to obtain a certain goal in a dynamic environment. The computer is provided positive and negative feedback as it navigates the environment which is used to learn the optimal path through the environment. Consider teaching a mouse to run through a maze a quickly as possible. Cheese (positive rewards) can be used to teach the mouse the best path.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h3 class="notes">
    Deep Learning
</h3>
<p class="notes">
    DL, a component of ML, are a set of algorithms whose structure is based on the the information processing and distributed communication nodes found in the human brain. DL algorithms use multiple layers of preceptrons (algorithms that take an action on an input if a threshold is met) to extract high-level features that can be used to make predictions.
</p>
<div class="note-image-box">
    <img src="../static/Multi-Layer_Neural_Network-Vector-Blank.png" class="note-image">
</div>
<p class="notes">
    The first working DL algorithm was completed by Alexey Ivakhnenko and Lapa in 1967 and by 1991 DL algorithms were being used to recognize hand-written digits. A key development in DL was the incorporation of backpropagation algorithms to update preceptron weights to decrease a network's loss function. This and other key developments have made DL a reliable technology for image recognition, natural language processing, mobile advertising, recommendation systems, and much more.
</p>
<p class="notes">
    The first working DL algorithm was completed by Alexey Ivakhnenko and Lapa in 1967 and by 1991 DL algorithms were being used to recognize hand-written digits. A key development in DL was the incorporation of backpropagation algorithms to update preceptron weights to decrease a network's loss function. This and other key developments have made DL a reliable technology for image recognition, natural language processing, mobile advertising, recommendation systems, and much more.
</p>
<p class="notes">
    In an ANN, input data is processed by each preceptron in a layer. Each preceptron (also known as a node) then transmits a signal to each preceptron in the following layer (these connections are referred to as synapses). The signals transmitted downstream can be represented by real numbers, typically between 0 and 1. Additionally, each node or synapse can be weighted to transform the signal. In the end, the network makes a prediction. Backpropagation is used to grade the network's prediction and adjusts the node and/or synapse weights to achieve better results.
</p>
{% endblock %}