<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css')}}">
{% extends 'base.html' %}

{% block body %}
<main>
    <section class="hero-section">
        <div class="hero-text">
            <h1 class="page-title ft" style="font-size: 90.8571px;">Thomas Wileman</h1>
            <p class="intro">Exploring ideas around Machine Learning and life.</p>
        </div>
    </section>

    <section class="lower-section">
        <h2 class=recent>Recent ML Notes</h2>
        <div class="box-container">
            <div class="box">
                <a href="/setup">
                    <img src="../static/images/setup/setup_cover.png" alt="setup_cover">
                    <div class="image-text">
                        <h5>Setup.py</h5>
                        <p class="recent">The Configuration File</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/lstm">
                    <img src="../static/images/lstm/lstm_cover.png" alt="setup_cover">
                    <div class="image-text">
                        <h5>LTSMs</h5>
                        <p class="recent">Neural Nets with Memory</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/cnn">
                    <img src="../static/images/cnn/cnn_cover.png" alt="setup_cover">
                    <div class="image-text">
                        <h5>CNNs</h5>
                        <p class="recent">Sliding a Window</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/regex">
                    <img src="../static/images/regex/regex_cover.png" alt="setup_cover">
                    <div class="image-text">
                        <h5>Regex</h5>
                        <p class="recent">Pattern Matching</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/numpy_intro">
                    <img src="../static/images/numpy_intro/numpy_cover.png" alt="setup_cover">
                    <div class="image-text">
                        <h5>Numpy</h5>
                        <p class="recent">Enabling Linear Algebra</p>
                    </div>
                </a>
            </div>
        </div>
        <h2 class=recent>Recent Blogs</h2>
        <div class="box-container">
            <div class="box">
                <a>
                    <img>
                    <div class="image-text">
                        <h5></h5>
                        <p class="recent"></p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a>
                    <img>
                    <div class="image-text">
                        <h5></h5>
                        <p class="recent"></p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a>
                    <img>
                    <div class="image-text">
                        <h5></h5>
                        <p class="recent">Coming Soon</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a>
                    <img>
                    <div class="image-text">
                        <h5></h5>
                        <p class="recent"></p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a>
                    <img>
                    <div class="image-text">
                        <h5></h5>
                        <p class="recent"></p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}