{% extends 'base.html' %}

{% block body %}
<div style="padding-top: 5px">
    <h1>Technical Notes and Simple Explanations</h1>
</div>
<div>
    <h2>On Data Science, Machine Learning, & More</h2>
    <h3>
        I am Thomas Wileman, a Senior Data Scientist at Red Hat. I have found that thoughtfully crafting documents
        that summarize my study notes is an effective strategy to comprehending, critiquing, and eventually applying
        topics of interest. This site serves as a repository for my notes on data science topics ranging from Python,
        machine learning, statistics, and much more. My goal is not to impress you with tremendous cleverness by
        explaining each topic in the most difficult way. Instead, I aim to communicate each topic so it is easily
        understandable; to help me and you master fundamental and advanced topics.
    </h3>
</div>

<div class="note-container">
    <h2>Recently Added Notes</h2>
    <hr>
    <ul>
        <li><a href="/softmax">Softmax Function</li>
        <li><a href="/error_functions">Error and Optimization Functions</li>
        <li><a href="/perceptrons_and_logic_gates">Perceptrons as Logic Gates</li>
        <li><a href="/perceptron_primer">Perceptron Primer</li>
        <li><a href="/data_types">Data Types</li>
    </ul>
</div>
{% endblock %}