{% extends 'base.html' %}

{% block body %}
<div class="note-container">
    <div class="note-header">
        <h2 class="notes">Key Concepts</h2>
    </div>
    <ul>
        <li><a href="/ai_ml_dl">Artifical Intelligence vs Machine Learning vs Deep Learning</li>
    </ul>

    <ul>
        <li><a href="/error_functions">Error and Optimization Functions</li>
    </ul>
</div>
<div class="note-container">
    <div class="note-header">
        <h2 class="notes">Python Basics</h2>
    </div>
    <ul>
        <li><a href="/data_types">Data Types</a></li>
    </ul>
    <ul>
        <li><a href="/import_csv">Import a CSV</a></li>
    </ul>
</div>
<div class="note-container">
    <div class="note-header">
        <h2 class="notes">Feature Engineering with Python</h2>
    </div>
    <ul>
        <li><a href="/one_hot_encoding">One Hot Encoding</a></li>
    </ul>
</div>
<div class="note-container">
    <div class="note-header">
        <h2 class="notes">Deep Learning</h2>
    </div>
    <ul>
        <li><a href="/perceptron_primer">Perceptron Primer</li>
    </ul>
    <ul>
        <li><a href="/perceptrons_and_logic_gates">Perceptron as Logic Gates</li>
    </ul>
    <ul>
        <li><a href="/softmax">Softmax Function</li>
    </ul>
</div>
{% endblock %}