{% extends 'base.html' %}

{% block body %}
<div class="note-container">
    <h2 class="notes">Key Concepts</h2>
    <hr>
    <ul>
        <li><a href="/ai_ml_dl">Artifical Intelligence vs Machine Learning vs Deep Learning</li>
    </ul>
</div>
<div class="note-container">
    <h2 class="notes">Python Basics</h2>
    <hr>
    <ul>
        <li><a href="/data_types">Data Types</a></li>
    </ul>
    <ul>
        <li><a href="/import_csv">Import a CSV</a></li>
    </ul>
</div>
<div class="note-container">
    <h2 class="notes">Deep Learning</h2>
    <hr>
    <ul>
        <li><a href="/perceptron_primer">Perceptron Primer</li>
    </ul>
    <ul>
        <li><a href="/perceptrons_and_logic_gates">Perceptron Primer</li>
    </ul>
</div>
{% endblock %}