{% extends 'base.html' %}
{% block head %}
<meta property=”og:title” content=”Convolutional Neural Networks (CNNs)”>
<meta name="author" content="Thomas Wileman">
<meta name="image" property="og:image" content="https://www.thomaswileman.com/static/images/rnn/rnn_meta_image.png">
<meta name="description" property="og:description" content="Recurrent neural networks (RNNs) systematically examine small portions of an input through various filters to learn the input's features. This note explains how each filter in a CNN contributes to the model's performance.">
{% endblock %}
{% block body %}
<h2 class="notes">Recurrent Neural Networks (RNNs)</h2>
<a href="../static/images/rnn/rnn_meta_image.png" target="new">
    <img src="../static/images/rnn/rnn_logo.svg" class="center-image">
</a>
<p class="notes">
    Recurrent neural networks use previous results as model inputs to make new predictions. Consider the following example. You've trained a neural network designed to accurately identify an animal by its shilouette. You run three images through your network and achieve the following results:
</p>
<img src="../static/images/rnn/rnn_intro_1.svg" class="center-image">
<p class="notes">
    Your model correctly classified the first two as an eagle and ostrich respectively. However, the third image (which is clearly a duck) is classified as a bunny. The first two images seem to indicate that your model is being fed shilouettes from a library of bird images. Wouldn't it be great if we could use the information from the two previous iterations to inform our prediction on the third iteration? We can thanks to RNNs.
</p>
<p class="notes">
    RNNs use the results of the previous iteration as input into the next iteration. In our case, the results of the first iteration (eagle) and used to help identify the ostrich. Next, the eagle and ostrich predictions are used to classify the final shilouette as a duck.
</p>
<img src="../static/images/rnn/rnn_intro_2.svg" class="center-image">
{% endblock %}s